#small-contacts-container {
    height: 100vh;
    width: 320px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
}


#edit-small-contacts-container {
    height: 100vh;
    width: 320px;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
}

#small-contacts-container-close-btn-container {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.upper-part-small-contacts {
    height: 190px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#small-contacts-container-close-btn-container>span {
    font-size: 24px;
    margin-right: 10px;
    margin-top: 10px;
}

.upper-part-small-contacts span {
    margin-bottom: 30px;
}

.lower-part-small-contacts {
    height: 365px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.small-contacts-add-data {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.small-contacts-btn-container {
    margin-top: 20px;
}

.small-edit-contacts-btn-container {
    width: 250px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}