.custom-select {
    font-size: 14px;
}

.plus-select {
    cursor: pointer;
    width: 16px;
    height: auto;
    position: absolute;
    right: 22px;
    top: 22px;
}

.plus-select-subtask {
    cursor: pointer;
    width: 16px;
    height: auto;
    position: absolute;
    top: 32px;
    right: 20px;
}

.arrow-down {
   position: absolute;
   top: 7px;
   right: 20px;
   height: 10px;
   width: 10px;
}

.first-select-option-container {
    position: relative;
    cursor: pointer;
    width: 95%;
    border: none;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-top: 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.custom-select-options-container {
   /* display: none; */
}

.custom-select-option {
    cursor: pointer;
    margin: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-select-option-category {
    cursor: pointer;
    margin: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.custom-select-option-category:hover {
    background-color: #D2E3FF;
}

.custom-select-option p {
    margin: 0;
}

.custom-select-option:hover {
    background-color: #D2E3FF;
}

.category-color {
    padding: 6px;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: 10px;

}

.category-color-selected {
    display: inline-block;
    border-radius: 50%;
    margin-bottom: -1px;
    margin-left: 10px;
    height: 12px;
    width: 12px;
}

.add-task-contacts-container {
    width: 99%;
}