.edit-task {
    position: absolute;
    top: 20vh;
    width: 400px;
    background-color: white;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 8px;
}

.add-task-container-edit {
    width: 400px;
}

.assigned-headline-outside {
    margin-top: 10px;
}