body{
    font-family: 'Open Sans';
}

.d-none {
    display: none;
}

.position-arrow {
    position: absolute;
    top: 30px;
    right: 30px;
}

.d-flex-center {
    display: flex;
    align-items: center;
}

.d-flex-end {
    width: 95%;
    display: flex;
    justify-content: flex-end;
}

.margin {
    margin: 10px 0px;
}

.margin-left {
    margin-left: 10px;
}

.arrow {
    cursor: pointer;
    width: 20px;
    height: auto;
}

.menu-color {
    color: #42526E;
}


.fs-12 {
    font-size: 12px;
}

.fs-22 {
    font-size: 22px;
}

.z-index-1 {
    z-index: -1;
}

.z-index-2 {
    z-index: 2;
}

.box-shadow {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

.hover-blue {
    background-color: #D2E3FF;
}

.red-text {
    color: red;
}

.light-gray {
    color: rgba(0, 0, 0, 0.2);
}

.gray {
    background-color: rgba(0, 0, 0, 0.3);
}

.darkpurple {
    background-color: #462F8A;
}

.darkred {
    background-color: #AF1616;
}

.light-green {
    background-color: lightgreen;
}

.green {
    background-color: #02CF2F;
}

.lightblue {
    background-color: #29ABE2
}

.purple {
    background-color: #9327FF;
}

.red {
    background-color: #FF0000;
}

.orange {
    background-color: #FF7A00;
}

.pink {
    background-color: #FC71FF;
}

.turquoise {
    background-color: #1FD7C1;
}

.blue {
    background-color: #0038FF;
}

.yellow {
    background-color: #FFC701;
}

.disabled-blue {
    background-color: rgb(50, 110, 235);
}

.light-blue {
    background-color: #4589FF;
}

.light-blue-text {
    color: #4589FF;
}

.blue {
    background-color: blue;
}

.darkblue-text {
    color: blue;
}

.logo-height {
    height: 50px;
}

.white-text {
    color: white;
}

.main-field {
    position: relative;
}

.width-25 {
    width: 25%;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
}

.d-flex {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.help-btn-container {
    display: flex;
    align-items: center;
}

.delete-btn {
    cursor: pointer;
    background-color: transparent;
    color: gray;
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.delete-btn:hover {
    border: 1px solid blue;
    color: blue;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.create-btn {
    cursor: pointer;
    background-color: #4589FF;
    color: white;
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-left: 10px;
}

.create-btn:hover {
    background-color: blue;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.close-x {
    cursor: pointer;
    margin-left: 5px;
    width: 12px;
    height: 10px;
}

.close-x-right-side {
    cursor: pointer;
    margin-right: 5px;
    width: 12px;
    height: 10px;
}

.close-x-absolute {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
}

.white-clear {
    width: 16px;
    height: 12px;
    margin-left: 5px;
}

.anonymous-profile-picture {
    height: 100px;
    width: auto;
}

.edit-pen-height {
    height: 25px;
}

.align-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logout {
    width: 56px;
    background-color: white;
    cursor: pointer;
    z-index: 2;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 8px;
    position: absolute;
    top: 10vh;
    right: -25px;
}

.logout:hover {
    background-color: #D2E3FF;
}

.logout-mobile {
    width: 70px;
    background-color: white;
    cursor: pointer;
    z-index: 2;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 8px;
    position: absolute;
    top: 8vh;
    right: -25px;
}

.logout-mobile a {
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

.task-topic-info {
    padding: 5px 10px;
    border-radius: 8px;
}

.summary-urgent-img{
    border-radius: 50%;
    border: 2px solid white;
    height: 45px;
    margin-top: 10px;
}

.user-logout-icon-container {
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid white;
    background-color: white;
}

.user-logout-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    letter-spacing: 2px;
    color: white;
    border-radius: 50%;
}

.user-icon-big {
    padding: 10px;
}

.user-icon {
    margin-right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    /*letter-spacing: 2px;*/
    color: white;
    border-radius: 50%;
}

.user-icon-task-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    width: 45px;
    height: 38px;
    letter-spacing: 2px;
    color: white;
    border-radius: 50%;
}

.user-icon-edit-contact {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 100%;
    margin-bottom: 20px;
    font-size: 30px;
}

.user-tasks {
    display: flex;
    align-items: center;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.popups {
    z-index: 2;
    display: none;
    align-items: center;
    color: white;
    padding: 10px 5px;
    background-color: #0038FF;
    border: 1px solid none;
    border-radius: 8px;
}

.popups-img {
    margin-left: 10px;
}

.popups p {
    margin: 5px 0;
}

.contacts-left::-webkit-scrollbar {
    width: 5px;  /* width of the entire scrollbar */
  }
  
  .contacts-left::-webkit-scrollbar-track {
    background: transparent;   /* color of the tracking area */ 
    margin-bottom: 300px;    
  }
  
  /* .contacts-left::-webkit-scrollbar-button {
    height: 150px;
  } */

  .contacts-left::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */ 
  }

  
  input[type="date"]::-webkit-calendar-picker-indicator {  
    cursor: pointer;
    content: url("../../kanban_img/date_icons/date_img.png");
    background: none;
    margin-right: 15px;
    height: 16px;
    width: 16px;
}


.edit-contact-container-mobile {
    width: 60%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    border-end-start-radius: 18px;
    border-end-end-radius: 18px;
}

.user-icon-big-mobile {
    padding: 25px 30px;
    border: 2px solid white;
    margin-top: -130px;
}

.upper-part-small-contacts-mobile {
    height: 35vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.lower-part-small-contacts-mobile {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-end-start-radius: 18px;
    border-end-end-radius: 18px;
}

#small-contacts-container-mobile {
    width: 60%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 18px;
}

.anonymous-profile-picture-mobile {
    margin-top: -170px;
}


@media (max-width: 684px) {
    .logout {
        display: none;
    }
}

@media (min-width: 684px) {
    .logout-mobile {
        display: none;
    }
}
