.d-none {
    display: none;
}

.margin {
    margin: 10px 0px;
}

.margin-left {
    margin-left: 10px;
}

.arrow {
    cursor: pointer;
    width: 20px;
    height: auto;
}

.light-blue {
    background-color: #4589FF;
}

.light-blue-text {
    color: #4589FF;
}

.blue {
    background-color: blue;
}

.darkblue-text {
    color: blue;
}

.d-flex {
    display: flex;
}

.logo-height {
    height: 50px;
}

.white-text {
    color: white;
}

.main-field {
    position: relative;
}

.width-25 {
    width: 25%;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.delete-btn {
    cursor: pointer;
    background-color: transparent;
    color: gray;
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.delete-btn:hover {
    border: 1px solid blue;
    color: blue;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.create-btn {
    cursor: pointer;
    background-color: #4589FF;
    color: white;
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-left: 10px;
}

.create-btn:hover {
    background-color: blue;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.close-x {
    cursor: pointer;
    margin-left: 5px;
    width: 12px;
    height: 10px;
}

.close-x-right-side {
    cursor: pointer;
    margin-right: 5px;
    width: 12px;
    height: 10px;
}

.white-clear {
    width: 16px;
    height: 12px;
    margin-left: 5px;
}

.anonymous-profile-picture {
    height: 100px;
    width: auto;
}

.edit-pen-height {
    height: 25px;
}

.align-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logout {
    background-color: white;
    cursor: pointer;
    z-index: 2;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 8px;
    position: absolute;
    right: 30px;
    bottom: -42px;
}

.logout:hover {
    background-color: #D2E3FF;
}

.logout-mobile {
    background-color: white;
    cursor: pointer;
    z-index: 2;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 8px;
    position: absolute;
    right: 30px;
    bottom: -100px;
}

.logout-mobile a {
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

.user-icon {
    padding: 5px;
    letter-spacing: 2px;
    color: white;
    border-radius: 50%;
    background-color: #4589FF;
}

