.help-container {
    width: 90%;
    margin: 20px auto;
}

.help-arrow-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#help-headline {
    margin-top: 0;
    color: #4589FF;
}

.subtitles {
    color: #005DFF;
}

.main-field > h1 {
    color: #005DFF;
}
.main-field > h2 {
    color: #005DFF;
}

.help-number {
    font-size: 29px;
    color:#005DFF;
    margin-right: 10px;
}

.kanban-main::-webkit-scrollbar { 
    width: 10px;
    height: 4px;  
  }
  
  .kanban-main::-webkit-scrollbar-track {
    background: transparent;   /* color of the tracking area */ 
    margin-bottom: 350px;    
  }
  
  .kanban-main::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */ 
  }

@media (max-width: 500px) {
    .main-field {
        height: 105%;
    }
    .help-container {
        width: 100%;
    }
    .kanban-btns {
        position: absolute;
        bottom: 0;
    }
}

@media (max-width: 400px) {
    .main-field {
        height: 110%;
    }
}

@media (max-width: 380px) {
    .main-field {
        height: 115%;
    }
}

@media (max-width: 360px) {
    .main-field {
        height: 120%;
    }
}

@media (max-width: 340px) {
    .main-field {
        height: 125%;
    }
}