#board-task-info {
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 5px;
}

 .small-board-task-info {
    width: 300px;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 25px;
} 

.board-task-info-text h1 {
    margin-top: 10px;
    margin-bottom: 5px;
}


.board-task-info-priority {
    display: flex;
    align-items: center;
}

.task-info-priority {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 5px 10px;
}

.edit-btn {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin-right: 5px;
}

.edit-btn:hover {
    cursor: pointer;
    background-color: blue;
}

.close-btn-container-task-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.board-task-edit-btn-container {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.priority-btn-container a {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 5px 10px;
}

.first-select-option-task-info-container {
    cursor: pointer;
    width: 95%;
    border: none;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-top: 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.delete-task-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin-right: 5px;
}

.delete-task-btn:hover {
    background-color: darkred;
}

.delete-task-btn-img {
    height: 25px;
    width: 21px;   
}


