.add-task-container {
    display: flex;
}

.task-form-left {
    width: 50%;
}

.task-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.task-form input {
    border: none;
    border-bottom: 1px solid gray;
    padding-left: 20px;
}

.contacts-container {
    position: relative;
}

.task-category-container {
    position: relative;
}


.date-img {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 22px;
    top: 47px;
}

.due-date-container {
    position: relative;
}

#due-date {
    width: 95%;
    margin-top: 10px;
    padding-bottom: 10px;
}

#due-date:focus {
    outline: none;
}

.input-title {
    margin-top: 5px;
    padding-bottom: 5px ;
    height: 35px;
    font-size: 32px;
}

.input-title:focus {
    outline: none;
}

.input-title::placeholder {
    color: rgba(0, 0, 0, 0.2);
}

.task-form-right {
    width: 50%;
}

.label-flex {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

#due-date::placeholder {
    color: rgba(0, 0, 0, 0.2);
}

.priority-btn-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.assigned-to {
    margin-top: 10px;
}

.priority-btn-container a {
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 5px 10px;
}

.priority-urgent-img {
    margin-left: 5px;
    width: 10px;
    height: 10px;
}

.urgent-btn:hover {
    cursor: pointer;
    border-bottom: 2px solid red;
}

.medium-btn:hover {
    cursor: pointer;
    border-bottom: 2px solid orange;
}

.non-urgent-btn:hover {
    cursor: pointer;
    border-bottom: 2px solid lightgreen;
}

.description-container {
    margin-top: 15px;
}

.description-container>span {
    /* font-weight: bold; */
}

#subtask-category {
    margin-top: 10px;
    padding-bottom: 10px;
}

#subtask-category:focus {
    outline: none;
}

#textarea {
    width: 90%;
    height: 75px;
    margin: auto;
    border-radius: 8px;
    padding-left: 15px;
    padding-top: 10px;

}

.category-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.category-label {
    display: flex;
    flex-direction: column
}

.category-span {
    margin-left: 15px;
}

#subtask-category::placeholder {
    color: rgba(0, 0, 0, 0.2);
}

.create-task-container {
    width: 70%;
    height: 95%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.clear-btn {
    cursor: pointer;
    background-color: transparent;
    color: gray;
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}



.priority-btn-container a {
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 5px 10px;
}

.clear-btn:hover {
    border: 1px solid blue;
    color: blue;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.create-task-btn {
    cursor: pointer;
    background-color: #4589FF;
    color: white;
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-left: 10px;
}

.create-task-btn:hover {
    background-color: blue;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.mobile-create-task-navbar {
    height: 10vh;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.mobile-logo-blue {
    height: 35px;
    width: 35px;
    margin-left: 25px;
}

.create-task-mobile-btn {
    cursor: pointer;
    background-color: #4589FF;
    color: white;
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-right: 25px;
}

.create-task-mobile-btn:hover {
    background-color: blue;
}

.add-option {
    position: relative;
    margin-top: 20px;
}

#add-contact-input {
    padding-bottom: 10px;
}

.add-option-input {
    width: 95%;
}

.add-option-input:focus {
    outline: none;
}

.add-option-input::placeholder {
    color: rgba(0, 0, 0, 0.2);
}

.add-option-btn-container {
    position: absolute;
    top: 2px;
    right: 5px;
}

#add-subtask-input {
    margin-top: 10px;
    padding-bottom: 10px;
}

.add-option-btn-container-subtask {
    position: absolute;
    top: 30px;
    right: 5px;
}

.close-x-blue-btn {
    cursor: pointer;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-right: 5px;
}

.blue-clear-btn {
    cursor: pointer;
}


@media (max-width: 874px) {
    .task-form {
        width: 250px;
    }
    .input-title {
        width: 225px;
    }
    #contacts {
        width: 250px;
    }
    #due-date {
        width: 225px;
    }
    #task-category {
        width: 250px;
    }
    #description-container {
        width: 250px;
    }
    #subtask-category {
        width: 225px
    }
    .create-task-container {
        width: 100%;
    }
    .priority-btn-container {
        width: 250px;
    }
}

@media (max-width: 684px) {
    .task-form-right {
        display: none;
    }
    .task-form-left {
        width: 100%;
    }
    .task-form {
        width: 100%;
    }
    .input-title {
        width: 95%;
    }
    #contacts {
        width: 100%;
    }
    #due-date {
        width: 95%;
    }
    #task-category {
        width: 100%;
    }
    #description-container {
        width: 100%;
    }
    #subtask-category {
        width: 95%
    }
    .create-task-container {
        width: 100%;
    }
    .priority-btn-container {
        width: 100%;
    }
    .priority-btn-container button {
        padding: 10px 15px;
    }
    .kanban-navbar {
        display: none;
    }
    .mobile-create-task-navbar {
        display: flex;
    }
}

@media (max-width: 480px) {
    .priority-btn-container button {
        padding: 5px 10px;
    }
    .input-title {
        width: 91%;
    }
    #due-date {
        width: 91%;
    }
    #subtask-category {
        width: 91%
    }
}