.width-25 {
    width: 25%;
}

.board-container {
    width: 90%;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.board-task-title {}

.board-task-img {
    height: 32px;
    width: 32px;
}

.search-field {
    width: 350px;
    margin-left: 50px;
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    height: 20px;
}

.input:focus {
    outline: none;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 8px;
}

.search-img {
    margin-left: 10px;
    height: 15px;
}

.add-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #4589FF;
    border: none;
    padding: 10px;
    border-radius: 8px;
}

.add-btn:hover {
    background-color: blue;
}

.add-img {
    margin-left: 5px;
    height: 15px;
}

.board-task-container {
    display: flex;
}

.added-task {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    border-radius: 16px;
}

.task-headline {
    margin-bottom: 5px;
}

.task-topic {
    width: 120px;
    background-color: orange;
    text-align: center;
    border-radius: 8px;
}

.progress {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress-bar {
    width: 60%;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}