body {
    margin: 0;
    font-family: "Open Sans";
}

.kanban-navbar {
    height: 15vh;
    width: 100%;
    background-color: #4589FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    color: white;
    margin-right: 20px;
}

.help {
    height: 25px;
    margin-right: 20px;
}

.user-img {
    height: 30px;
    border-radius: 50%;
    border: 3px solid white;
}

.kanban-main {
    width: 100%;
    height: 85vh;
    display: flex;
}

.sidebar {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.inner-sidebar {
    width: 80%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-field {
    width: 80%;
    height: 100%;
}

.kanban-img {
    width: 25px;
    height: 25px;
    margin: 0 20px;
}

.kanban-link {
    width: 85%;
    padding: 5px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.kanban-link:hover {
    background-color: #D2E3FF;
    border-radius: 16px;
}

.summary-container {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inner-summary-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.user-name {
    font-size: 32px;
    color: #4589FF;
    margin-left: 15px;
}

.gm-text {
    font-size: 24px;
}

.task-urgent {
    cursor: pointer;
    background-color: #4589FF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 150px;
    width: 65%;
    border-radius: 18px;
}

.task-urgent:hover {
    background-color: white;
    transform: scale(1.1);
}

.task-urgent-left-part {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.white-border {
    width: 45%;
    height: 80%;
    width: 2px;
    background-color: white;
}

.summary-count-white {
    margin-left: 8px;
    margin-top: 8px;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.summary-img {
    height: 60px;
    width: 60px;
}

.summary-count-black {
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 32px;
    font-weight: bold;
    color: black;
}

.task-urgent-right-part {
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.task-urgent-left-part-1 {
    display: flex;
    align-items: center;
    height: 60.67px;
}

.task-urgent-left-part-2>p {
    color: white;
    margin-left: 15px;
    font-weight: bold;
    font-size: 18px;
}

.date {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.deadline {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.upper-task-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.lower-task-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.task-card-upper {
    cursor: pointer;
    width: 150px;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #D2E3FF;
}

.task-card-upper:hover {
    background-color: white;
    transform: scale(1.1);
}

.task-to-do {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-task-card-upper {
    height: 70%;
}

.task-card-lower {
    cursor: pointer;
    width: 150px;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.task-card-lower:hover {
    background-color: blue;
    transform: scale(1.1);
}

.blue-text {
    color: #4589FF;
}

@media (max-width: 1124px) {
    .summary-container {
        height: 98%;
    }
    .task-urgent {
        height: 135px;
    }
    .upper-task-container {
        margin-bottom: 10px;
    }
    .task-card-upper {
        height: 135px;
    }
    .task-card-lower {
        height: 135px;
    }
    .deadline {
        font-size: 15px;
    }
}