.arrow {
    cursor: pointer;
    width: 15px;
    height: auto;
}

.form-inner-container {
    height: 100%;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-btn {
    cursor: pointer;
    background-color: #4589FF;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 25px 10px 25px
}

.form-headline {
    padding-bottom: 10px;
    margin: 0;
}

.blue-bottom {
    width: 100px;
    height: 2px;
    background-color: #4589FF;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.popups-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popups {
    display: flex;
    align-items: center;
    color: white;
    padding: 10px 5px;
    background-color: #0038FF;
    border: 1px solid none;
    border-radius: 8px;
}

.popups-img {
    margin-left: 10px;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: orange;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: blue;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid orange;  /* creates padding around scroll thumb */
  }

