.d-none {
    display: none;
}

.email-exist {
    color: red;
}

.arrow {
    cursor: pointer;
    width: 15px;
    height: auto;
}

.position-arrow {
    position: absolute;
    top: 40px;
    left: 30px;
}

.form-inner-container {
    height: 100%;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-btn {
    cursor: pointer;
    background-color: #4589FF;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 25px 10px 25px
}

.form-headline {
    padding-bottom: 10px;
    margin: 0;
}

.blue-bottom {
    width: 100px;
    height: 2px;
    background-color: #4589FF;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.popups-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popups {
    display: flex;
    align-items: center;
    color: white;
    padding: 10px 5px;
    background-color: #0038FF;
    border: 1px solid none;
    border-radius: 8px;
}

.navbar {
    box-sizing: border-box;
    height: 20vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-overlay {
    height: 100vh;
}

.popups-img {
    margin-left: 10px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.popups {
    z-index: 2;
    display: none;
    align-items: center;
    color: white;
    padding: 10px 5px;
    background-color: #0038FF;
    border: 1px solid none;
    border-radius: 8px;
}

.popups-img {
    z-index: 2;
    margin-left: 10px;
}



