body {
    background-color: #4589FF;
}

.resetPassword {
    position: relative;
    height: 300px;
    width: 500px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    background-color: white;
    display: flex;
}

#form-arrow-container-reset {
    width: 10%;
    height: 58px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.arrow {
    cursor: pointer;
    width: 15px;
    height: auto;
}

.resetPassword-container {
    height: 100%;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.resetPassword-text {
    margin: 5px 0;
}

.continue-container {
    width: 95%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

@media(max-width:540px) {
    .resetPassword {
        max-width: 80% !important;
    }
    .arrow-container {
        margin-top: 5px;
        margin-right: -30px;
    }
    .headline {
        font-size: 16px;
    }
}